<section class="kw-section s5" id="kw-s5" name="kw-s5" >
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/content/content.html" as content %}
    {% import "src/chunks/picture/picture_lazy.html" as picture %}

    <div class="container">
        <div class="row s5-a1__wrap">
            <div class="col-12 col-lg-5 offset-lg-1 ">
                <div class="s5-a1__content">
                    {{ content.kw_content(data.s5.content) }}
                </div>
            </div>
            <div class="col-12 col-lg-6 kw-picture s5-a1__picture">
                {{ picture.kw_picture_lazy(data.s5.picture, 's5-a1__img kw-lazy') }}
            </div>
        </div>
    </div>
</section>
