.s5 {
    &-a1 {
        &__picture {
            @include media-breakpoint-down(md) {
                &.kw-picture {
                    display: none;
                }
            }
        }

        &__wrap {
            position: relative;
            @include media-breakpoint-down(md) {
                padding-top: 50px;
                padding-bottom: 56px;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 90%;
                box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.07);
                border-radius: 12px;
                border: 2px solid #ffffff;
                background-image: linear-gradient(
                    -28deg,
                    #87bfff 0%,
                    #89feec 100%
                );
                z-index: -1;
            }
        }

        &__content {
            padding-top: 50px;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }

        &__img {
        }
    }
}
