<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index,follow" />

  <title>GloCourse</title>
  <meta property="og:title" content="GloCourse" />

  <base href="/" />
  <link rel="canonical" href="/" />

  <meta name="description" content="description test" />
  <meta property="og:description" content="description test" />

  <meta name="keywords" content="keywords, test" />
  <meta name="author" content="KVAnton.WEB@yandex.ru" />

  <meta property="og:locale" content="ru_RU" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/" />
  <meta property="og:site_name" content="GloCourse" />
  <!-- <meta property="og:image" content="/assets/favicon/apple-touch-icon.png" /> -->

  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/assets/favicon/apple-touch-icon.png?v=oLJY0QaAy8"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/favicon/favicon-32x32.png?v=oLJY0QaAy8"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/favicon/favicon-16x16.png?v=oLJY0QaAy8"
  />
  <link rel="manifest" href="/assets/favicon/site.webmanifest?v=oLJY0QaAy8" />
  <link
    rel="mask-icon"
    href="/assets/favicon/safari-pinned-tab.svg?v=oLJY0QaAy8"
    color="#5bbad5"
  />
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=oLJY0QaAy8" />
  <meta name="apple-mobile-web-app-title" content="GloCourse" />
  <meta name="application-name" content="GloCourse" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta
    name="msapplication-config"
    content="/assets/favicon/browserconfig.xml?v=oLJY0QaAy8"
  />
  <meta name="theme-color" content="#ffffff" />

  <link rel="stylesheet" href="/assets/css/style-32b892268d.min.css" />

  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/> -->
  <style type="text/css">
    [class^="icon-"],
    [class*=" icon-"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: "icomoon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    /* #gradient-horizontal {
        --color-stop-1: #89feec;
        --color-stop-2: #87bfff;
        }
        #gradient-vertical {
        --color-stop-1: #89feec;
        --color-stop-2: #87bfff;
        } */
  </style>
</head>
