<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon.png?v=oLJY0QaAy8">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=oLJY0QaAy8">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=oLJY0QaAy8">
<link rel="manifest" href="/assets/favicon/site.webmanifest?v=oLJY0QaAy8">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=oLJY0QaAy8" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=oLJY0QaAy8">
<meta name="apple-mobile-web-app-title" content="GloCourse">
<meta name="application-name" content="GloCourse">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=oLJY0QaAy8">
<meta name="theme-color" content="#ffffff">