<section class="kw-section s9" id="kw-s9" name="kw-s9">
  <div class="container ">
    <h2 class="kw-content__title kw-content__title_2">
      Функционал
    </h2>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="s9_slider_links">
          <span>
            Удобный и понятный кабинет преподавателя
          </span>

          <span>
            Создание множества школ на одном аккаунте
          </span>

          <span>
            Настройка школы
          </span>

          <span>
            Настройка курса
          </span>

          <span>
            Оплата курса и установка тарифов
          </span>

          <span>
            Прием оплаты и интеграция с агрегаторами
          </span>

          <span>
            Управление студентами и группами
          </span>

          <span>
            Легкий редактор страниц
          </span>

          <span>
            Настройки вашего аккаунта
          </span>

          <span>
            Настройка лендинга курса
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="s9_slider lazy">
          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img slider-active"
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>

          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />

            <source
              type="image/png"
              data-lazy="/assets/img/screenshot_functions.png"
              data-srcset="/assets/img/screenshot_functions.png"
            />

            <img
              alt=""
              class="img "
              data-src="/assets/img/screenshot_functions.webp"
              data-lazy="/assets/img/screenshot_functions.webp"
              data-srcset="/assets/img/screenshot_functions.webp"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
