{% import "src/data/data.html" as data %}

<section
    class="kw-section s1"
    data-bg_webp="{{ data.s1.bg.webp }}"
    data-bg_jpg="{{ data.s1.bg.src }}"
    id="kw-s1"
    name="kw-s1"
>
    {% import "src/chunks/kw-btn/kw-btn.html" as button %}
    {% import "src/chunks/picture/picture_lazy.html" as picture %}
    {% import "src/chunks/content/content.html" as content %}

    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-6 s1__content">
                {{ content.kw_content(data.s1.content, h = "1") }}

                {{ button.kw_btn(
                    data.s1.btn.txt,
                    icon = data.s1.btn.icon,
                    class_mod = data.s1.btn.class_mod
                ) }}
            </div>
            <div class="col-12 col-lg-6 kw-picture s1__picture">
                <div class="s1__parallax parallax" id="kw-parallax">
                    <div class="par s1__rhomb_small">
                        <svg class="icon_svg icon_svg__rhomb_big_first_screen">
                            <use xlink:href="#icon_svg__rhomb_big_first_screen"></use>
                        </svg>
                    </div>
                    <div class="par s1__rhomb_big">
                        <svg class="icon_svg icon_svg__rhomb_big_first_screen">
                            <use xlink:href="#icon_svg__rhomb_big_first_screen"></use>
                        </svg>
                    </div>
                </div>
                {{ picture.kw_picture_lazy(data.s1.picture, 'kw-lazy', 'data-tilt class="par_glare s1__picture_par"') }}
            </div>
        </div>
    </div>
</section>
