.s1 {
    padding-top: 208px;
    padding-bottom: 141px;
    background-position: 45%;
    background-size: cover;
    background-repeat: no-repeat;

    /* Chrome 29+ */
    @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        background-attachment: fixed;
    }

    @include media-breakpoint-down(md) {
        padding-top: 112px;
        padding-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
        background: none !important;
    }

    @include media-breakpoint-down(xs) {
        padding-top: 142px;
    }

    &__picture {
        &_par {
            z-index: 1;
        }

        position: relative;
        @include media-breakpoint-down(md) {
            &.kw-picture {
                display: none;
            }
        }
    }

    &__rhomb {
        &_small {
            left: -30px;
            top: 20%;
            .icon_svg {
                filter: drop-shadow(13px 13px 20px rgba(0, 0, 0, 0.2));
                fill: #87bfff;
                fill: url(#gradient-vertical) #87bfff !important;
                font-size: (54px * 2);
            }
        }
        &_big {
            right: -110px;
            bottom: 5%;
            .icon_svg {
                filter: drop-shadow(13px 13px 20px rgba(0, 0, 0, 0.2));
                fill: #87bfff;
                fill: url(#gradient-vertical) #87bfff !important;
                font-size: (110px * 2);
            }
        }
    }
}
