<footer class="kw-footer" id="kw-footer" name="kw-footer">
  <div class="container kw-footer__container">
    <div class="kw-footer__left">
      <ul class="kw-footer__links">
        <li>
          <a href="/">
            Политика конфиденциальности
          </a>
        </li>

        <li>
          <a href="/">
            Наша служба поддержки
          </a>
        </li>
      </ul>
    </div>
    <div class="kw-footer__middle">
      <span class="kw-footer__copy">
        © GloCourse <span id="copy_year"></span>
      </span>
    </div>
    <div class="kw-footer__right">
      <a class="kw-footer__logo" href="/" title="GloCourse">
        <span>Glo</span>Course
      </a>
      <ul class="kw-footer__social">
        <li>
          <a href="/" title="Facebook">
            <span class="icon-facebook"></span>
          </a>
        </li>

        <li>
          <a href="/" title="Twitter">
            <span class="icon-twitter"></span>
          </a>
        </li>

        <li>
          <a href="/" title="VK">
            <span class="icon-vk"></span>
          </a>
        </li>

        <li>
          <a href="/" title="linkedin">
            <span class="icon-linkedin"></span>
          </a>
        </li>

        <li>
          <a href="/" title="Instagram">
            <span class="icon-instagram"></span>
          </a>
        </li>

        <li>
          <a href="/" title="Telegram">
            <span class="icon-telegram"></span>
          </a>
        </li>

        <li>
          <a href="/" title="Whatsapp">
            <span class="icon-whatsapp"></span>
          </a>
        </li>

        <li>
          <a href="/" title="YouTube">
            <span class="icon-youtube-play"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
