<section class="kw-section s11" id="kw-s11" name="kw-s11">
  <div class="container">
    <h2 class="kw-content__title kw-content__title_2 s11__title">
      Наша команда
    </h2>
    <div class="row kw-team__wrap">
      <div class="col-12 col-lg-3 col-md-4 s11__team kw-team__item">
        <div class="kw-team__photo  par_glare" data-tilt>
          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />

            <source
              type="image/jpeg"
              data-lazy="/assets/img/photo.jpg"
              data-srcset="/assets/img/photo.jpg"
            />

            <img
              alt=""
              class="img kw-lazy"
              data-src="/assets/img/photo.webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />
          </picture>
        </div>
        <div class="kw-team__txt">
          <h4 class="kw-team__name">Валерий Стручин</h4>
          <span class="kw-team__post">Основатель</span>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-md-4 s11__team kw-team__item">
        <div class="kw-team__photo  par_glare" data-tilt>
          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />

            <source
              type="image/jpeg"
              data-lazy="/assets/img/photo.jpg"
              data-srcset="/assets/img/photo.jpg"
            />

            <img
              alt=""
              class="img kw-lazy"
              data-src="/assets/img/photo.webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />
          </picture>
        </div>
        <div class="kw-team__txt">
          <h4 class="kw-team__name">Валерий Стручин</h4>
          <span class="kw-team__post">Основатель</span>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-md-4 s11__team kw-team__item">
        <div class="kw-team__photo  par_glare" data-tilt>
          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />

            <source
              type="image/jpeg"
              data-lazy="/assets/img/photo.jpg"
              data-srcset="/assets/img/photo.jpg"
            />

            <img
              alt=""
              class="img kw-lazy"
              data-src="/assets/img/photo.webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />
          </picture>
        </div>
        <div class="kw-team__txt">
          <h4 class="kw-team__name">Валерий Стручин</h4>
          <span class="kw-team__post">Основатель</span>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-md-4 s11__team kw-team__item">
        <div class="kw-team__photo  par_glare" data-tilt>
          <picture>
            <source
              type="image/webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />

            <source
              type="image/jpeg"
              data-lazy="/assets/img/photo.jpg"
              data-srcset="/assets/img/photo.jpg"
            />

            <img
              alt=""
              class="img kw-lazy"
              data-src="/assets/img/photo.webp"
              data-lazy="/assets/img/photo.webp"
              data-srcset="/assets/img/photo.webp"
            />
          </picture>
        </div>
        <div class="kw-team__txt">
          <h4 class="kw-team__name">Валерий Стручин</h4>
          <span class="kw-team__post">Основатель</span>
        </div>
      </div>
    </div>
  </div>
</section>
