<section
  class="kw-section s1"
  data-bg_webp="/assets/img/bg_first.webp"
  data-bg_jpg="/assets/img/bg_first.jpg"
  id="kw-s1"
  name="kw-s1"
>
  <div class="container ">
    <div class="row">
      <div class="col-12 col-lg-6 s1__content">
        <h1 class="kw-content__title kw-content__title_1">
          Создавайте и продавайте профессиональные онлайн-курсы!
        </h1>

        <div class="kw-content__txt">
          <p>
            Вы обладаете уникальными навыками и ценными знаниями? Делитесь ими с
            другими! Создать собственный кабинет для обучения очень просто!
            Упакуйте ваши знания и заработайте на этом.
          </p>
        </div>

        <button class="kw-btn kw-btn_gradient par_btn ">
          <div class="kw-btn__icon">
            <span class="icon-graduation-cap"></span>
          </div>

          <span class="kw-btn__txt">
            Создать онлайн <br />
            школу прямо сейчас
          </span>
        </button>
      </div>
      <div class="col-12 col-lg-6 kw-picture s1__picture">
        <div class="s1__parallax parallax" id="kw-parallax">
          <div class="par s1__rhomb_small">
            <svg class="icon_svg icon_svg__rhomb_big_first_screen">
              <use xlink:href="#icon_svg__rhomb_big_first_screen"></use>
            </svg>
          </div>
          <div class="par s1__rhomb_big">
            <svg class="icon_svg icon_svg__rhomb_big_first_screen">
              <use xlink:href="#icon_svg__rhomb_big_first_screen"></use>
            </svg>
          </div>
        </div>

        <picture data-tilt class="par_glare s1__picture_par">
          <source
            type="image/webp"
            data-lazy="/assets/img/screen_first_only.webp"
            data-srcset="/assets/img/screen_first_only.webp"
          />

          <source
            type="image/png"
            data-lazy="/assets/img/screen_first_only.png"
            data-srcset="/assets/img/screen_first_only.png"
          />

          <img
            alt="Создавайте и продавайте профессиональные онлайн-курсы!"
            class="img kw-lazy"
            data-src="/assets/img/screen_first_only.webp"
            data-lazy="/assets/img/screen_first_only.webp"
            data-srcset="/assets/img/screen_first_only.webp"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
