<header class="kw-header" id="kw-header" name="kw-header">
  <div class="kw-navbar kw-navbar_fixed">
    <div class="container kw-navbar__wrap">
      <nav class="kw-navbar_main">
        <a class="kw-navbar_brand" href="">
          <svg class="icon_svg icon_svg__logo">
            <use xlink:href="#icon_svg__logo"></use>
          </svg>
        </a>
        <ul class="menu">
          <li class="menu-item">
            <a class="menu-link" href="#kw-s3">
              Возможности
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#kw-s9">
              Функционал
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#kw-s10">
              Цены
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#kw-s4">
              Примеры
            </a>
          </li>
        </ul>
      </nav>
      <div class="kw-navbar_aside">
        <ul class="kw-navbar__menu menu">
          <li class="menu-item">
            <span class="menu-icon menu-icon_dark">
              <span class="icon-sign-in"></span>
            </span>
            <a class="menu-link menu-link_dark" href="/">
              Вход
            </a>
          </li>

          <li class="menu-item">
            <span class="menu-icon menu-icon_dark">
              <span class="icon-graduation-cap"></span>
            </span>
            <a class="menu-link menu-link_dark" href="/">
              Создать онлайн школу
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
