.kw-team {
    &__wrap {
        margin-top: 76px;
    }

    &__item {
    }
    &__photo {
        $border: 32px;
        box-sizing: border-box;
        position: relative;
        border: $border solid transparent;
        border-radius: 60px;
        background-clip: padding-box;

        @include media-breakpoint-down(md) {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -$border;
            border-radius: inherit;
            background-image: linear-gradient(0deg, #5eaaff 0%, #2afadf 100%);
        }
        img {
            border-radius: 30px;
        }
    }
    &__txt {
    }

    &__name {
        margin-top: 55px;
        display: inline-block;
        width: 100%;
        color: #6a6a6a;
        font-family: "SF Pro Display";
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        // line-height: calc(36 / 25);
    }

    &__post {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #6a6a6a;
        font-family: "SF Pro Display";
        font-size: 20px;
        font-weight: 400;
        line-height: calc(36 / 20);
    }
}
