{% macro kw_team(team, grid = '') %}
    {% import "src/chunks/picture/picture_lazy.html" as picture %}
    <div class="{{ grid }} kw-team__item">
        <div class="kw-team__photo  par_glare" data-tilt>
            {{ picture.kw_picture_lazy(team.picture, 'kw-lazy') }}
        </div>
        <div class="kw-team__txt">
            <h4 class="kw-team__name">{{ team.name }}</h4>
            <span class="kw-team__post">{{ team.post }}</span>
        </div>
    </div>
{% endmacro %}
