<section class="kw-section s8" id="kw-s8" name="kw-s8">
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/picture/picture_lazy.html" as picture %}
    {% import "src/chunks/content/content.html" as content %}

    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-6">
                {{ content.kw_content(data.s8.content) }}
            </div>
            <div class="col-12 col-lg-6 kw-picture s8__picture">
                {{ picture.kw_picture_lazy(data.s8.picture, 'kw-lazy', 'data-tilt class="par_glare"') }}
            </div>
        </div>
    </div>
</section>
