.s8 {
    padding-bottom: 150px;
    @include media-breakpoint-down(md) {
        padding-bottom: 100px;
    }

    &__picture {
        @include media-breakpoint-down(md) {
            margin-top: 56px;
        }

        @include media-breakpoint-down(sm) {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
