<section class="kw-section s9" id="kw-s9" name="kw-s9">
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/picture/picture_lazy.html" as picture %}

    <div class="container ">
        <h2 class="kw-content__title kw-content__title_2">
            {{ data.s9.title }}
        </h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="s9_slider_links">
                    {% for slider in data.s9.slider %}
                        <span>
                            {{ slider.title }}
                        </span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="s9_slider lazy">
                    {% for slider in data.s9.slider %}
                        {% if  slider.active %}
                            {{ picture.kw_picture_lazy(slider.img, 'slider-active') }}
                        {% else  %}
                            {{ picture.kw_picture_lazy(slider.img) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
