.s9 {
    @include media-breakpoint-up(lg) {
        padding-bottom: calc(155px / 2);
    }
    padding-bottom: calc(64px / 2);

    &_slider {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .slick-slide {
        .img {
            box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.07);
            border: 3px solid #ffffff;
            margin: 9px auto;
        }
    }

    &_slider_links {
        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }

        margin-top: 2rem;
        list-style: none;
        color: #6a6a6a;
        font-family: "SF Pro Display";
        font-size: 24px;
        font-weight: 400;
        line-height: calc(36 / 24);

        .slick-current {
            color: #5dabfe;
        }
    }
}
