<section class="kw-section s7" id="kw-s7" name="kw-s7">
  <div class="container">
    <div class="row s7-a2__wrap">
      <div class="col-12 col-lg-5 s7-a2__action">
        <h2 class="kw-content__title kw-content__title_2 s7-a2__title">
          Чего вы ждёте?
        </h2>

        <button class="kw-btn kw-btn_gradient par_btn kw-btn_stretch">
          <span class="kw-btn__txt">
            Начать работу бесплатно
          </span>
        </button>
      </div>
      <div class="col-12 col-lg-6">
        <div class="s7-a2__content">
          <div class="kw-content__txt">
            <p>
              Присоединяйтесь к известным инфобизнесменам, тренерам и
              онлайн-учителям, которые уже успешно работают с нами!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
