{% import "src/chunks/head/head.html" as head %}
{% import "src/data/data.html" as data %}
{% import "src/chunks/picture/picture.html" as picture %}

<header class="kw-header" id="kw-header" name="kw-header">
    <div class="kw-navbar kw-navbar_fixed">
        <div class="container kw-navbar__wrap">
            <nav class="kw-navbar_main">
                <a class="kw-navbar_brand" href="{{ base }}">
                    {#
                    {{ picture.kw_picture(data.header.logo, class_mod = "logo") }}
                    #}
                    <svg class="icon_svg icon_svg__logo">
                        <use xlink:href="#icon_svg__logo"></use>
                    </svg>
                </a>
                <ul class="menu">
                    {% for item in data.header.menu %}
                        <li class="menu-item">
                            <a class="menu-link" href="{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="kw-navbar_aside">
                <ul class="kw-navbar__menu menu">
                    {% for item in data.header.menu_aside %}
                        <li class="menu-item">
                            <span class="menu-icon menu-icon_dark">
                                {{ item.icon | safe }}
                            </span>
                            <a class="menu-link menu-link_dark" href="{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>
