.kw-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 900;
    width: 100%;
    max-width: 100vw;

    &__wrap {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
        }
    }

    &.scrolled {
        background-color: rgba(255, 255, 255, 1);
        @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
            @supports (backdrop-filter: none) {
                background-color: rgba(255, 255, 255, 0.5);
                transition: background-color 200ms linear;
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
            }
        }
    }

    &_fixed {
        position: fixed;
        top: 0;
    }

    &_main {
        display: flex;
        .menu {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &_aside {
    }

    &_brand {
        .icon_svg {
            font-size: 32px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 8px;
        }
    }
}
