.menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;

    @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
        width: 100vw;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        // justify-content: center;
    }

    &-item {
        margin-left: 32px;
        color: #6a6a6a;
        &_dark {
            color: #354047;
        }
        @include media-breakpoint-down(xs) {
            margin-left: 0px;
        }
    }

    &-link {
        font-family: "SF Pro Display";
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-decoration: none;

        color: #6a6a6a;
        &_dark {
            color: #354047;
        }
    }

    &-icon {
        &_dark {
            color: #354047;
        }
    }
}
