<section
  class="kw-section kw-section_bg s10"
  data-bg_webp="/assets/img/bg_pricelist.webp"
  data-bg_jpg="/assets/img/bg_pricelist.jpg"
  id="kw-s10"
  name="kw-s10"
>
  <div class="container">
    <h2 class="kw-content__title kw-content__title_2 s11__title s10__title">
      Тарифы и цены
    </h2>
    <div class="row s10__kw-price">
      <div class="col-12 col-lg-4">
        <div class="kw-price__wrap">
          <h3 class="kw-price__title">
            Тариф 1
          </h3>
          <ul class="kw-price__list">
            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>
          </ul>
          <span class="kw-price__value">
            5900₽
          </span>

          <button
            class="kw-btn kw-btn_gradient par_btn kw-price__btn kw-btn_stretch"
          >
            <span class="kw-btn__txt">
              Купить Пакет 1
            </span>
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="kw-price__wrap">
          <h3 class="kw-price__title">
            Тариф 2
          </h3>
          <ul class="kw-price__list">
            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>
          </ul>
          <span class="kw-price__value">
            6900₽
          </span>

          <button
            class="kw-btn kw-btn_gradient par_btn kw-price__btn kw-btn_stretch"
          >
            <span class="kw-btn__txt">
              Купить Пакет 2
            </span>
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="kw-price__wrap">
          <h3 class="kw-price__title">
            Тариф 3
          </h3>
          <ul class="kw-price__list">
            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>

            <li>
              Компонент пакета
            </li>
          </ul>
          <span class="kw-price__value">
            7900₽
          </span>

          <button
            class="kw-btn kw-btn_gradient par_btn kw-price__btn kw-btn_stretch"
          >
            <span class="kw-btn__txt">
              Купить Пакет 3
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
