@charset "UTF-8";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/utilities";

@import "./src/common.project/fonts/fonts";
@import "./src/common.project/kw-section";

body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fafafa;
    overflow-x: hidden;
}

#gradient-horizontal {
    --color-stop-1: #89feec;
    --color-stop-2: #87bfff;
}
#gradient-vertical {
    --color-stop-1: #89feec;
    --color-stop-2: #87bfff;
}
