.s10 {
    @include media-breakpoint-up(lg) {
        padding-top: calc(155px / 2);
    }
    padding-top: calc(64px / 2);

    padding-bottom: calc(144px / 2);
    background-size: auto;
    background-position: 50%;
    /* Chrome 29+ */
    @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        background-attachment: fixed;
    }

    @include media-breakpoint-down(md) {
        background: none !important;
    }

    &__title {
    }

    &__kw-price {
        margin-top: 100px;
    }
}
