{% import "src/data/data.html" as data %}
<section
    class="kw-section kw-section_bg s10"
    data-bg_webp="{{ data.s10.bg.webp }}"
    data-bg_jpg="{{ data.s10.bg.src }}"
    id="kw-s10"
    name="kw-s10">
    {% import "src/chunks/price/price.html" as price_card %}

    <div class="container">
        <h2 class="kw-content__title kw-content__title_2 s11__title s10__title">
            {{ data.s10.title }}
        </h2>
        <div class="row s10__kw-price">
            {% for price in data.s10.prices  %}
            <div class="col-12 col-lg-4">
                {{ price_card.kw_price(price) }}
            </div>
            {% endfor  %}
        </div>
    </div>
</section>
