<section class="kw-section s3" id="kw-s3" name="kw-s3">
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/picture/picture_lazy.html" as picture %}
    {% import "src/chunks/content/content.html" as content %}

    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-6 s3__content">
                {{ content.kw_content(data.s3.content) }}
            </div>
            <div
                class="col-12 col-lg-6 s3__picture_bg kw-picture par_glare"
                data-bg_webp="{{ data.s3.picture_bg.src }}.webp"
                data-bg_jpg="{{ data.s3.picture_bg.src }}.png"
                data-tilt-perspective="300" data-tilt-speed="400" data-tilt-max="25"
            >
                {{ picture.kw_picture_lazy(data.s3.picture, 'kw-lazy', 'class="s3__picture"') }}
            </div>
        </div>
    </div>
</section>
