.s3 {
    padding-top: calc(144px / 2);
    padding-bottom: calc(144px / 2);

    &__picture {
        transform: translateZ(50px);
        z-index: 1;
        padding-bottom: 60px;

        &_bg {
            z-index: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 80%;
            transform-style: preserve-3d;
        }
    }

    &__content {
        .kw-content__title {
            &:first-child {
                margin-top: 0px;
            }
            margin-top: 90px;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 68px;
    }
}
