<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
    {% block head %}
        {% include "./src/chunks/head/head.html" %}
        {% import "./src/chunks/head/head.html" as head %}
    {% endblock %}

    <body>
        <svg aria-hidden="true" focusable="false" style="width:0;height:0;position:absolute;">
        <linearGradient id="gradient-horizontal">
            <stop offset="0%" stop-color="var(--color-stop-1)" />
            <stop offset="100%" stop-color="var(--color-stop-2)" />
        </linearGradient>
        <linearGradient id="gradient-vertical" x2="0" y2="1">
            <stop offset="0%" stop-color="var(--color-stop-1)" />
            <stop offset="100%" stop-color="var(--color-stop-2)" />
        </linearGradient>
        </svg>
        {% block body_start %} {% endblock %}

        {% block header %}
            {% include "./src/chunks/header/header.html" %}
        {% endblock %}

        {% block main %}
            <main>
                {% include "./src/sections/s1/s1.html" %}
                {% include "./src/sections/s2_video/s2_video.html" %}
                {% include "./src/sections/s3_txt_img/s3_txt_img.html" %}
                {% include "./src/sections/s4_steps/s4_steps.html" %}
                {% include "./src/sections/s5_a1_thebest/s5_a1_thebest.html" %}
                {% include "./src/sections/s6_mobile/s6_mobile.html" %}
                {% include "./src/sections/s7_a2_callback/s7_a2_callback.html" %}
                {% include "./src/sections/s8_medal/s8_medal.html" %}
                {% include "./src/sections/s9_function/s9_function.html" %}
                {% include "./src/sections/s10_price/s10_price.html" %}
                {% include "./src/sections/s11_team/s11_team.html" %}
            </main>
        {% endblock %}

        {% block footer %}
            {% include "./src/chunks/footer/footer.html" %}
        {% endblock %}

        {% block js_before  %} {% endblock %}

        {% block js %}
            {% include "./src/chunks/js/js.html" %}
        {% endblock %}

        {% block js_after %} {% endblock %}
        {% block body_end %} {% endblock %}
    </body>
</html>
