{% import "src/chunks/kw-btn/kw-btn.html" as button %}
{% macro kw_step(step) %}
    <div class="kw-steps__item par_card" data-tilt>
        <h3 class="kw-steps__title">
        {{ step.title }}
        </h3>
        <div class="kw-steps__content">
            <p>
                {{ step.content | safe }}
            </p>
        </div>
        {% if step.btn %}
            {{ button.kw_btn(step.btn.txt, step.btn.icon, step.btn.class_mod) }}
        {% endif %}
        {% if step.icon %}
            <div class="kw-steps__icon">
                {{ step.icon | safe }}
            </div>
        {% endif %}
    </div>
{% endmacro %}
