.kw-steps {
    margin-top: 46px;
    margin-bottom: -30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;

    @include media-breakpoint-up(md) {
        height: calc(360px * 3);
    }

    &__wrap {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 50%;

            &:nth-child(2) {
                order: 4;
            }

            &:nth-child(3) {
                order: 2;
            }

            &:nth-child(4) {
                order: 5;
            }

            &:nth-child(5) {
                order: 3;
            }
        }
    }

    &__item {
        // transform-style: preserve-3d;
        box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 66px;
        padding-top: 40px;

        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;

        @include media-breakpoint-up(xl) {
            padding-left: 88px;
            padding-right: 94px;
        }
        @include media-breakpoint-up(md) {
            height: 330px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &__title {
        transform: translateZ(5px);
        color: #354047;
        font-family: "SF Pro Display";
        font-size: 30px;
        font-weight: 700;
        line-height: calc(46 / 30);
        font-feature-settings: normal;
        font-variant: small-caps;
    }

    &__content {
        transform: translateZ(5px);
        color: #6a6a6a;
        font-family: "SF Pro Display";
        font-size: 24px;
        font-weight: 400;
        line-height: calc(36 / 24);
        text-align: center;
        // padding-right: 24px;
        // padding-left: 24px;
    }

    &__btn {
    }

    &__icon {
        transform: translateZ(5px);

        font-size: 70px;
        background-image: linear-gradient(-30deg, #5eaaff 0%, #2afadf 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #5eaaff;
    }
}
