<head>
    {% import "src/data/data.html" as data %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="{{ data.head.robots }}" />

    <title>{{ data.head.title }}</title>
    <meta property="og:title" content="{{ data.head.title }}"/>

    <base href="{{ data.head.base }}" />
    <link rel="canonical" href="{{ data.head.base }}" />

    <meta name="description" content="{{ data.head.description }}" />
    <meta property="og:description" content="{{ data.head.description }}"/>

    <meta name="keywords" content="{{ data.head.keywords  }}">
    <meta name="author" content="{{ data.author.email }}" />

    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ data.head.base }}" />
    <meta property="og:site_name" content="{{ data.head.site_name  }}" />
    <!-- <meta property="og:image" content="{{ data.head.favicon_img }}" /> -->

    {% include "resources/favicon/html_code.html" %}

    <link rel="stylesheet" href="/assets/css/style.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/> -->
    <style type="text/css">
        [class^="icon-"],
        [class*=" icon-"] {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: "icomoon" !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

     /* #gradient-horizontal {
        --color-stop-1: #89feec;
        --color-stop-2: #87bfff;
        }
        #gradient-vertical {
        --color-stop-1: #89feec;
        --color-stop-2: #87bfff;
        } */
    </style>

</head>
