<footer class="kw-footer" id="kw-footer" name="kw-footer">
    {% import "src/data/data.html" as data %}
    <div class="container kw-footer__container">
        <div class="kw-footer__left">
            <ul class="kw-footer__links">
            {% for link in data.footer.links %}
                <li>
                    <a href="{{ link.href }}">
                       {{ link.txt }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="kw-footer__middle">
            <span class="kw-footer__copy">
                {{ data.footer.copy.symbol }} {{ data.footer.copy.txt}} {{ data.footer.copy.year | safe}}
            </span>
        </div>
        <div class="kw-footer__right">
            <a class="kw-footer__logo" href="{{ data.head.base }}" title="{{ data.head.site_name }}">
                {{ data.footer.title | safe }}
            </a>
            <ul class="kw-footer__social">
                {% for social in data.footer.social %}
                    <li>
                        <a href="{{ social.link }}" title="{{ social.title }}">
                           {{ social.icon | safe }}
                        </a>
                    </li>
                {% endfor%}
            </ul>
        </div>
    </div>
</footer>
