.kw-footer {
    @include media-breakpoint-up(lg) {
        margin-top: 126px;
    }

    background-color: #ffffff;
    padding-top: 68px;
    padding-bottom: 88px;

    color: #aaaaaa;
    font-family: "SF Pro Display";
    font-size: 18px;
    font-weight: 400;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-breakpoint-down(md) {
            flex-direction: column-reverse;
            align-items: center;
            min-height: 280px;
            text-align: center;
        }
    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__middle {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        @include media-breakpoint-down(md) {
            align-items: center;
        }
    }

    &__links {
        margin: 0px;
        padding: 0px;
        list-style: none;
        a {
            color: #aaaaaa;
            font-family: "SF Pro Display";
            font-size: 18px;
            font-weight: 400;
            text-decoration: underline;
        }
    }

    &__logo {
        color: #00e4b6;
        font-family: "SF Pro Display";
        font-size: 33px;
        font-weight: 700;
        letter-spacing: -1.08px;
        margin-bottom: 1rem;

        &:hover {
            text-decoration: none;
            color: #00e4b6;
        }

        span {
            color: #4a8afd;
        }
    }

    &__copy {
    }

    &__social {
        margin: 0px;
        padding: 0px;
        list-style: none;

        display: flex;
        justify-content: space-between;

        width: 100%;

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            justify-content: center;
        }

        a {
            color: #aaaaaa;
            font-size: 2rem;
            margin-left: 1rem;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
