.kw-video {
    border-radius: 12px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include media-breakpoint-down(md) {
        margin-bottom: 36px;
    }

    &__player {
        display: flex;
        border-radius: 12px 12px 0 0;
        background-color: #000;
        overflow: hidden;
    }

    &__iframe {
        border-radius: 12px 12px 0 0;
    }

    &__title {
        border-radius: 0 0 12px 12px;
        background-image: linear-gradient(to right, #5eaaff 0%, #2afadf 100%);
        color: #ffffff;
        font-family: "SF Pro Display";
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        padding: 20px 5px;
        @include media-breakpoint-down(md) {
            font-size: 15px;
        }
    }
}
