{% macro kw_video(data, class_mod = '') %}
<div class="kw-video {{ class_mod }}">
    <div class="kw-video__player">
    <iframe class="kw-video__iframe kw-iframe-lazy"
            width="100%"
            height="258px"
            data-src="{{ data.src }}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    </div>
    <div class="kw-video__title">
        {{ data.txt }}
    </div>
</div>
{% endmacro %}
