{% macro kw_price(price)  %}
    {% import "src/chunks/kw-btn/kw-btn.html" as button %}
    <div class="kw-price__wrap">
        <h3 class="kw-price__title">
            {{ price.title  }}
        </h3>
        <ul class="kw-price__list">
            {% for item in price.prop %}
                <li>
                    {{ item }}
                </li>
            {% endfor  %}
        </ul>
        <span class="kw-price__value">
            {{ price.price }}{{ price.currency }}
        </span>

        {{ button.kw_btn(
            price.btn.txt,
            icon = price.btn.icon,
            class_mod = 'kw-price__btn kw-btn_stretch' + price.btn.class_mod
        ) }}
    </div>
{% endmacro %}
