.kw-price {
    &__wrap {
        box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        background-color: #ffffff;
        padding-top: 46px;
        padding-bottom: 74px;
        // padding-left: 32px;
        padding-right: 32px;
        padding-left: 50px;
        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }
    }

    &__title {
        color: #354047;
        font-family: "SF Pro Display";
        font-size: 32px;
        font-weight: 700;
        font-feature-settings: normal;
        font-variant: small-caps;
        text-align: center;
        line-height: 1;
        margin-bottom: 50px;
    }
    &__list {
        padding-bottom: 0px;
        margin-bottom: 0px;
        list-style: none;
        padding: 0px;

        li {
            color: #6a6a6a;
            font-family: "SF Pro Display";
            font-size: 24px;
            font-weight: 400;
            line-height: calc(36 / 24);
            padding-left: 30px;

            position: relative;
            &:before {
                content: "—";
                position: absolute;
                left: -5px;
            }
        }
    }

    &__value {
        color: #354047;
        font-family: "SF Pro Display";
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
        font-variant: small-caps;
        letter-spacing: -0.96px;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 64px;
    }

    &__btn {
    }
}
