.kw-btn {
    position: relative;
    color: #ffffff;
    border-radius: 12px;
    padding-left: 28px;
    padding-right: 40px;

    min-height: 65px;

    padding-top: 22px;
    padding-bottom: 24px;

    border: 0;
    box-shadow: 0;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
        outline: 0;
    }

    &__txt {
        width: 100%;
        font-family: "SF Pro Display";
        font-feature-settings: normal;
        font-variant: small-caps;
        font-size: 20px;
        font-weight: 700;
        font-variant: small-caps;
        line-height: 1;

        & > br {
            display: none;
            @include media-breakpoint-down(md) {
                display: inline;
            }
        }

        @include media-breakpoint-down(md) {
            font-size: 20px;
        }
    }

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 45px;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__icon {
        margin-top: 2px;
        margin-right: 5px;
        display: inline-block;
    }

    &:after {
        content: "";
        z-index: -1;
        width: 88%;
        height: 100%;
        top: 40%;
        left: 6%;
        position: absolute;
        border-radius: 30px;
        background-image: linear-gradient(-84deg, #ff73f7 0%, #ffba00 100%);
        filter: blur(24px);
    }

    &_gradient {
        background-image: linear-gradient(-84deg, #ff5df5 0%, #ffba00 100%);
    }

    &_blue-skin {
        background-image: linear-gradient(-84deg, #5eaaff 0%, #2afadf 100%);
        &:after {
            background-image: linear-gradient(-84deg, #5eaaff 0%, #2afadf 100%);
        }
    }

    &_upper {
        text-transform: uppercase;
    }

    &_bold {
        font-weight: 700;
    }

    &_stretch {
        width: 100%;
    }

    &_small-txt {
        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }
}
