{% macro kw_btn(txt, icon = '', class_mod = '') %}
    <button class="kw-btn kw-btn_gradient par_btn {{ class_mod }}">
        {% if icon %}
        <div class="kw-btn__icon">{{ icon | safe }}</div>
        {% endif %}
        <span class="kw-btn__txt">
            {{ txt | safe }}
        </span>
    </button>
{% endmacro %}
