.s11 {
    padding-top: calc(144px / 2);

    &__title {
        color: #354047;
        font-family: "SF Pro Display";
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    &__team {
        @include media-breakpoint-down(md) {
            margin-bottom: 60px;
        }
    }
}
