<section class="kw-section s11" id="kw-s11" name="kw-s11">
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/team/team.html" as team_tpl %}

    <div class="container">
        <h2 class="kw-content__title kw-content__title_2 s11__title">
            {{ data.s11.title }}
        </h2>
        <div class="row kw-team__wrap">
            {% for team in data.s11.team %}
                {{ team_tpl.kw_team(team, 'col-12 col-lg-3 col-md-4 s11__team') }}
            {% endfor %}
        </div>
    </div>
</section>
