.s6 {
    padding-top: 146px;
    padding-bottom: calc(90px + 60px);

    @include media-breakpoint-down(md) {
        margin-top: 64px;
    }

    &__gears {
        position: absolute;
        z-index: 100;
        right: 0px;
        bottom: 0;
        transform: translateZ(30px);

        .icon_svg {
            font-size: (120px * 2);
            filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.5));
            fill: #87bfff;
            fill: url(#gradient-vertical) #87bfff !important;
        }
    }

    &__img {
        max-height: 580px;
    }

    &__picture {
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        position: relative;
        transform-style: preserve-3d;

        picture {
            display: flex;
            width: 60%;
            margin-top: 20%;
            transform: translateZ(20px);
        }

        @include media-breakpoint-down(md) {
            flex: 1 1 auto;
            margin-top: 68px;
            overflow: hidden;
        }
        @include media-breakpoint-down(sm) {
            min-height: 500px;
        }
    }

    &__wrap {
        @include media-breakpoint-down(md) {
            position: relative;
            display: flex;
            // flex-direction: column;
            flex: auto;
            flex-direction: column-reverse;
        }
    }

    &__content-wrap {
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
    }

    &__kw-btn {
        width: 100%;
        margin-top: 52px;

        @include media-breakpoint-up(lg) {
            margin-top: 0px;
            max-width: 377px;
        }
    }
}
