<section class="kw-section s6" id="kw-s6" name="kw-s6">
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/kw-btn/kw-btn.html" as button %}
    {% import "src/chunks/picture/picture_lazy.html" as picture %}
    {% import "src/chunks/content/content.html" as content %}

    <div class="container">
        <div class="row s6__wrap">
            <div
                class="col-12 col-lg-6 kw-picture s6__picture par_glare"
                data-bg_webp="{{ data.s6.picture_bg.src }}.webp"
                data-bg_jpg="{{ data.s6.picture_bg.src }}.png"
                data-tilt
            >
                <div  class="s6__gears">
                    <svg class="icon_svg icon_svg__gears icon_svg_gradient_v">
                        <use xlink:href="#icon_svg__gears"></use>
                    </svg>
                </div>
                {{ picture.kw_picture_lazy(data.s6.picture, 's6__img kw-lazy', '') }}
            </div>
            <div class="col-12 col-lg-6 s6__content-wrap">
                {{ content.kw_content(data.s6.content, h = "2") }}

                {{ button.kw_btn(
                    data.s6.btn.txt,
                    icon = data.s6.btn.icon,
                    class_mod = data.s6.btn.class_mod
                ) }}
            </div>
        </div>
    </div>
</section>
