<section
  class="kw-section kw-section_bg s4"
  data-bg_webp="/assets/img/bg_3.webp"
  data-bg_jpg="/assets/img/bg_3.jpg"
  id="kw-s4"
  name="kw-s4"
>
  <div class="container ">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="kw-content__title kw-content__title_2">
          Поделитесь своими знаниями в 5 простых шагов!
        </h2>

        <div class="kw-content__txt"></div>
      </div>
    </div>
    <div class="row kw-steps">
      <!-- <div class="col-12 col-lg-6"> -->
      <div class="kw-steps__wrap">
        <div class="kw-steps__item par_card" data-tilt>
          <h3 class="kw-steps__title">
            Шаг 1
          </h3>
          <div class="kw-steps__content">
            <p>Создайте бесплатно <br />вашу онлайн-школу</p>
          </div>

          <button class="kw-btn kw-btn_gradient par_btn kw-steps__btn">
            <div class="kw-btn__icon">
              <span class="icon-graduation-cap"></span>
            </div>

            <span class="kw-btn__txt">
              Создать онлайн школу
            </span>
          </button>
        </div>
      </div>

      <!-- <div class="col-12 col-lg-6"> -->
      <div class="kw-steps__wrap">
        <div class="kw-steps__item par_card" data-tilt>
          <h3 class="kw-steps__title">
            Шаг 2
          </h3>
          <div class="kw-steps__content">
            <p>Загрузите <br />обучающий контент</p>
          </div>

          <div class="kw-steps__icon">
            <span class="icon-download"></span>
          </div>
        </div>
      </div>

      <!-- <div class="col-12 col-lg-6"> -->
      <div class="kw-steps__wrap">
        <div class="kw-steps__item par_card" data-tilt>
          <h3 class="kw-steps__title">
            Шаг 3
          </h3>
          <div class="kw-steps__content">
            <p>
              Настройте стильный дизайн у вашей онлайн-школы
            </p>
          </div>

          <div class="kw-steps__icon">
            <span class="icon-paint-brush"></span>
          </div>
        </div>
      </div>

      <!-- <div class="col-12 col-lg-6"> -->
      <div class="kw-steps__wrap">
        <div class="kw-steps__item par_card" data-tilt>
          <h3 class="kw-steps__title">
            Шаг 4
          </h3>
          <div class="kw-steps__content">
            <p>Пригласите ваших <br />учеников</p>
          </div>

          <div class="kw-steps__icon">
            <span class="icon-user-plus"></span>
          </div>
        </div>
      </div>

      <!-- <div class="col-12 col-lg-6"> -->
      <div class="kw-steps__wrap">
        <div class="kw-steps__item par_card" data-tilt>
          <h3 class="kw-steps__title">
            Шаг 5
          </h3>
          <div class="kw-steps__content">
            <p>Обучайте <br />и зарабатывайте на этом</p>
          </div>

          <div class="kw-steps__icon">
            <span class="icon-database"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
