.parallax {
    // position: absolute;
    // left: 0;
    // z-index: 3;
}

.par {
    z-index: 2;
    position: absolute;
    // width: 100%;
    // height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
