<section class="kw-section s8" id="kw-s8" name="kw-s8">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="kw-content__title kw-content__title_2">
          Ваши успехи мотивируют нас на новые успехи!
        </h2>

        <div class="kw-content__txt">
          <p>
            Наша команда профессионалов с более чем 10 ти летним опытом,
            стремится сделать вашу работу с нами максимально удобной и
            эффективной. Мы неустанно работаем над улучшением нашего сервиса и
            прислушиваемся ко всем вашим нуждам и просьбам. Мы хотим помочь вам
            в достижении ваших целей!
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 kw-picture s8__picture">
        <picture data-tilt class="par_glare">
          <source
            type="image/webp"
            data-lazy="/assets/img/medal.webp"
            data-srcset="/assets/img/medal.webp"
          />

          <source
            type="image/png"
            data-lazy="/assets/img/medal.png"
            data-srcset="/assets/img/medal.png"
          />

          <img
            alt="Ваши успехи мотивируют нас на новые успехи!"
            class="img kw-lazy"
            data-src="/assets/img/medal.webp"
            data-lazy="/assets/img/medal.webp"
            data-srcset="/assets/img/medal.webp"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
