<section class="kw-section s5" id="kw-s5" name="kw-s5">
  <div class="container">
    <div class="row s5-a1__wrap">
      <div class="col-12 col-lg-5 offset-lg-1 ">
        <div class="s5-a1__content">
          <h2 class="kw-content__title kw-content__title_2">
            Glokurs выбирают лучшие онлайн-школы!
          </h2>

          <div class="kw-content__txt">
            <p>
              Поднимите ваше обучение на новый уровень, упаковав его в красивой,
              профессиональной и полностью настроенной под вас обучающей
              платформе.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 kw-picture s5-a1__picture">
        <picture>
          <source
            type="image/webp"
            data-lazy="/assets/img/MacBook_2015_2_-_20°_-_Level_2.webp"
            data-srcset="/assets/img/MacBook_2015_2_-_20°_-_Level_2.webp"
          />

          <source
            type="image/png"
            data-lazy="/assets/img/MacBook_2015_2_-_20°_-_Level_2.png"
            data-srcset="/assets/img/MacBook_2015_2_-_20°_-_Level_2.png"
          />

          <img
            alt="Glokurs выбирают лучшие онлайн-школы!"
            class="img s5-a1__img kw-lazy"
            data-src="/assets/img/MacBook_2015_2_-_20°_-_Level_2.webp"
            data-lazy="/assets/img/MacBook_2015_2_-_20°_-_Level_2.webp"
            data-srcset="/assets/img/MacBook_2015_2_-_20°_-_Level_2.webp"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
