.kw-content {
    &__title {
        color: #354047;
        font-family: "SF Pro Display";
        font-weight: 700;
        line-height: calc(54 / 36);
        margin: 0px;
        margin-bottom: 1rem;
        font-feature-settings: normal;
        font-variant: small-caps;

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        &_1 {
            font-size: 36px;
            @include media-breakpoint-down(md) {
                font-size: 32px;
                line-height: calc(44 / 32);
            }
            @include media-breakpoint-down(xs) {
                font-size: 28px;
            }
        }

        &_2 {
            font-size: 32px;
            @include media-breakpoint-down(md) {
                font-size: 28px;
            }
            @include media-breakpoint-down(xs) {
                font-size: 26px;
            }
        }
    }
    &__txt {
        color: #6a6a6a;
        font-family: "SF Pro Display";
        font-size: 20px;
        font-weight: 400;
        line-height: calc(36 / 20);
        margin: 0px;
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0px;
        }
        p {
            &:last-child {
                margin-bottom: 0px;
            }
        }
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
}
