{% macro kw_content(data, h = "2") %}
    {% for item in data %}
        {% if item.title %}
            <h{{ h }} class="kw-content__title kw-content__title_{{ h }}">
                {{ item.title  }}
            </h{{ h }}>
        {% endif %}
        {% if item.p %}
            <div class="kw-content__txt">
                {% for p in item.p%}
                    <p>{{ p }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
