<section class="kw-section s7" id="kw-s7" name="kw-s7">
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/content/content.html" as content %}
    {% import "src/chunks/kw-btn/kw-btn.html" as button %}

    <div class="container">
        <div class="row s7-a2__wrap">
            <div class="col-12 col-lg-5 s7-a2__action">
                <h2 class="kw-content__title kw-content__title_2 s7-a2__title">
                    {{  data.s7.title }}
                </h2>
                {{ button.kw_btn(
                    data.s7.btn.txt,
                    class_mod = data.s7.btn.class_mod
                ) }}
            </div>
            <div class="col-12 col-lg-6">
                <div class="s7-a2__content">
                    {{ content.kw_content(data.s7.content) }}
                </div>
            </div>
        </div>
    </div>
</section>
