.s7 {
    margin-bottom: 92px;
    &-a2 {
        &__wrap {
            position: relative;
            box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.07);
            border-radius: 12px;
            background-color: #ffffff;
            padding-top: 48px;
            padding-bottom: 70px;
            @include media-breakpoint-down(md) {
                padding-right: 34px;
                padding-left: 30px;
            }
        }

        &__action {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include media-breakpoint-up(lg) {
                padding-left: 60px;
                padding-right: 34px;
            }
        }

        &__content {
            .kw-content__txt {
                color: #6a6a6a;
                font-size: 24px;
                line-height: calc(44 / 24);
            }
        }

        &__title {
            text-align: center;
            @include media-breakpoint-down(md) {
                &.kw-content__title_2 {
                    font-size: 32px;
                }
            }
        }
    }
}
