<section class="kw-section s6" id="kw-s6" name="kw-s6">
  <div class="container">
    <div class="row s6__wrap">
      <div
        class="col-12 col-lg-6 kw-picture s6__picture par_glare"
        data-bg_webp="/assets/img/mac_sq_bg.webp"
        data-bg_jpg="/assets/img/mac_sq_bg.png"
        data-tilt
      >
        <div class="s6__gears">
          <svg class="icon_svg icon_svg__gears icon_svg_gradient_v">
            <use xlink:href="#icon_svg__gears"></use>
          </svg>
        </div>

        <picture>
          <source
            type="image/webp"
            data-lazy="/assets/img/iphonex.webp"
            data-srcset="/assets/img/iphonex.webp"
          />

          <source
            type="image/png"
            data-lazy="/assets/img/iphonex.png"
            data-srcset="/assets/img/iphonex.png"
          />

          <img
            alt="Оптимизирован для мобильных устройств"
            class="img s6__img kw-lazy"
            data-src="/assets/img/iphonex.webp"
            data-lazy="/assets/img/iphonex.webp"
            data-srcset="/assets/img/iphonex.webp"
          />
        </picture>
      </div>
      <div class="col-12 col-lg-6 s6__content-wrap">
        <h2 class="kw-content__title kw-content__title_2">
          Удобный конструктор курсов и уроков
        </h2>

        <div class="kw-content__txt">
          <p>
            Создать собственную обучающую платформу очень просто. В вашем
            распоряжении интуитивно понятный интерфейс. Настройте посадочную
            страницу и кабинет вашей онлайн-школы под ваши нужды и нужды ваших
            учеников!
          </p>
        </div>

        <h2 class="kw-content__title kw-content__title_2">
          Оптимизирован для мобильных устройств
        </h2>

        <div class="kw-content__txt">
          <p>Ваш сайт будет великолепно смотреться на любом гаджете!</p>
        </div>

        <button
          class="kw-btn kw-btn_gradient par_btn kw-btn_blue-skin kw-btn_upper kw-btn_bold kw-btn_stretch kw-btn_small-txt s6__kw-btn"
        >
          <span class="kw-btn__txt">
            больше возможностей
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
