// https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700
// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(
                str-slice($string, $index + str-length($search)),
                $search,
                $replace
            );
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
    $name,
    $path,
    $weight: null,
    $style: null,
    $exts: eot woff2 woff ttf svg
) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(
            map-has-key($extmods, $ext),
            $ext + map-get($extmods, $ext),
            $ext
        );
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append(
            $src,
            url(quote($path + "." + $extmod)) format(quote($format)),
            comma
        );
    }

    @font-face {
        font-family: quote($name);
        font-display: swap;
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face(
    $name: "SF Pro Display",
    $path: "/assets/fonts/SFPro/SFProDisplay-Regular",
    $weight: 400,
    $style: normal
);

@include font-face(
    $name: "SF Pro Display",
    $path: "/assets/fonts/SFPro/SFProDisplay-Bold",
    $weight: 700,
    $style: normal
);

@import "variables";

@font-face {
    font-family: "#{$icomoon-font-family}";
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f78djz");
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f78djz#iefix")
            format("embedded-opentype"),
        url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?f78djz")
            format("truetype"),
        url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?f78djz")
            format("woff"),
        url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?f78djz##{$icomoon-font-family}")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$icomoon-font-family}" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-download {
    &:before {
        content: $icon-download;
    }
}
.icon-sign-in {
    &:before {
        content: $icon-sign-in;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-facebook-f {
    &:before {
        content: $icon-facebook-f;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-youtube-play {
    &:before {
        content: $icon-youtube-play;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-vk {
    &:before {
        content: $icon-vk;
    }
}
.icon-graduation-cap {
    &:before {
        content: $icon-graduation-cap;
    }
}
.icon-mortar-board {
    &:before {
        content: $icon-mortar-board;
    }
}
.icon-database {
    &:before {
        content: $icon-database;
    }
}
.icon-paint-brush {
    &:before {
        content: $icon-paint-brush;
    }
}
.icon-whatsapp {
    &:before {
        content: $icon-whatsapp;
    }
}
.icon-user-plus {
    &:before {
        content: $icon-user-plus;
    }
}
.icon-telegram {
    &:before {
        content: $icon-telegram;
    }
}
