$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/fonts/fonts/" !default;

$icon-download: "\f019";
$icon-sign-in: "\f090";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-linkedin: "\f0e1";
$icon-youtube-play: "\f16a";
$icon-instagram: "\f16d";
$icon-vk: "\f189";
$icon-graduation-cap: "\f19d";
$icon-mortar-board: "\f19d";
$icon-database: "\f1c0";
$icon-paint-brush: "\f1fc";
$icon-whatsapp: "\f232";
$icon-user-plus: "\f234";
$icon-telegram: "\f2c6";

