<section class="kw-section s3" id="kw-s3" name="kw-s3">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-lg-6 s3__content">
        <h2 class="kw-content__title kw-content__title_2">
          Простая настройка
        </h2>

        <div class="kw-content__txt">
          <p>
            Всего несколько кликов мышью - и вы получите готовую школу с
            возможностью управлять обучением, настройкой оплаты и инструментами
            для эффективных продаж.
          </p>
        </div>

        <h2 class="kw-content__title kw-content__title_2">
          Новые возможности обучения
        </h2>

        <div class="kw-content__txt">
          <p>
            Поднимите ваши курсы на качественно новый уровень, оформив их с
            помощью нашей платформы. Вы получите первоклассный опыт обучения
            вместе с Glokurs!
          </p>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 s3__picture_bg kw-picture par_glare"
        data-bg_webp="/assets/img/mac_sq_bg.webp"
        data-bg_jpg="/assets/img/mac_sq_bg.png"
        data-tilt-perspective="300"
        data-tilt-speed="400"
        data-tilt-max="25"
      >
        <picture class="s3__picture">
          <source
            type="image/webp"
            data-lazy="/assets/img/mac_study.webp"
            data-srcset="/assets/img/mac_study.webp"
          />

          <source
            type="image/png"
            data-lazy="/assets/img/mac_study.png"
            data-srcset="/assets/img/mac_study.png"
          />

          <img
            alt="Новые возможности обучения"
            class="img kw-lazy"
            data-src="/assets/img/mac_study.webp"
            data-lazy="/assets/img/mac_study.webp"
            data-srcset="/assets/img/mac_study.webp"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
