<section class="kw-section s2" id="kw-s2" name="kw-s2">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-5 d-flex align-items-center">
        <div class="kw-video ">
          <div class="kw-video__player">
            <iframe
              class="kw-video__iframe kw-iframe-lazy"
              width="100%"
              height="258px"
              data-src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="kw-video__title">
            Что вам даст Glokurs? Видеопрезентация.
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-6 offset-xl-1">
        <h2 class="kw-content__title kw-content__title_2">
          Предоставьте своим ученикам доступ к обучению профессионального
          уровня!
        </h2>

        <div class="kw-content__txt">
          <p>
            Glokurs выполнит всю сложную работу за вас, чтобы вы могли
            сосредоточиться на действительно важных вещах: создавайте обучение с
            удобным интерфейсом.
          </p>

          <p>
            Простая регистрация студентов, возможность просмотра учебных
            программ и превью, а также удобная форма оплаты ваших курсов - всё
            это получат ваши ученики!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
