.s4 {
    padding-top: calc(144px / 2);
    padding-bottom: 133px;
    background-size: auto;
    background-position: 50%;

    /* Chrome 29+ */
    @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        background-attachment: fixed;
    }
    @include media-breakpoint-down(md) {
        background: none !important;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 70px;
    }
}
