{% import "src/data/data.html" as data %}
<section
    class="kw-section kw-section_bg s4"
    data-bg_webp="{{ data.s4.bg.webp }}"
    data-bg_jpg="{{ data.s4.bg.src }}"
    id="kw-s4"
    name="kw-s4">
    {% import "src/chunks/content/content.html" as content %}
    {% import "src/chunks/steps/steps.html" as step_tpl %}

    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-6">
                {{ content.kw_content(data.s4.content) }}
            </div>
        </div>
        <div class="row kw-steps">
            {% for step in data.s4.steps %}
                <!-- <div class="col-12 col-lg-6"> -->
                <div class="kw-steps__wrap">
                    {{ step_tpl.kw_step(step) }}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
