.<%=common %> {
     display: inline-block;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;
    // font-size: <%= baseSize %>px;
}

<% _.forEach(svg, function(svgItem) { %>
  .<%=svgItem.name%> {
      font-size: <%= svgItem.relWidth %>px;
        width: <%= svgItem.relWidth / svgItem.relHeight %>em;
    }

  @mixin <%=svgItem.name%>(){
    @extend .<%=svgItem.name%>;
  }
<% }); %>
