.icon_svg {
     display: inline-block;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;
    // font-size: 10px;
}


  .icon_svg__gears {
      font-size: 70.3px;
        width: 0.7641304347826087em;
    }

  @mixin icon_svg__gears(){
    @extend .icon_svg__gears;
  }

  .icon_svg__logo {
      font-size: 16.4px;
        width: 4.555555555555555em;
    }

  @mixin icon_svg__logo(){
    @extend .icon_svg__logo;
  }

  .icon_svg__rhomb_big_first_screen {
      font-size: 22.5px;
        width: 1em;
    }

  @mixin icon_svg__rhomb_big_first_screen(){
    @extend .icon_svg__rhomb_big_first_screen;
  }

  .icon_svg__rhomb_blue_transparent {
      font-size: 23.4px;
        width: 1em;
    }

  @mixin icon_svg__rhomb_blue_transparent(){
    @extend .icon_svg__rhomb_blue_transparent;
  }

  .icon_svg__rhomb_first_screen {
      font-size: 15.1px;
        width: 1em;
    }

  @mixin icon_svg__rhomb_first_screen(){
    @extend .icon_svg__rhomb_first_screen;
  }

