{% set h1 = "Создавайте и продавайте профессиональные онлайн-курсы!" %}

{% set author = {
    email: "KVAnton.WEB@yandex.ru",
    name: "Kuchekeev Anton Aleksandrovich",
    year: "2020"
} %}

{% set head = {
    title: "GloCourse",
    base: "/",
    description: "description test",
    keywords: "keywords, test",
    site_name: "GloCourse",
    favicon_img: "/assets/favicon/apple-touch-icon.png",
    robots: "index,follow"
} %}

{% set header = {
    menu: [
        {title: "Возможности", link: "#kw-s3"},
        {title: "Функционал", link: "#kw-s9"},
        {title: "Цены", link: "#kw-s10"},
        {title: "Примеры", link: "#kw-s4"}
    ],
    menu_aside: [
        {
            title: "Вход",
            link: "/",
            icon: '<span class="icon-sign-in"></span>'
        },
        {
            title: "Создать онлайн школу",
            link: "/",
            icon: '<span class="icon-graduation-cap"></span>'
        }
    ],
    logo: {
        src: "/assets/img/logo",
        alt: head.site_name,
        ext: ["webp", "png"]
    }
} %}

{% set footer = {
    title: "<span>Glo</span>Course",
    links: [
        {
            txt: 'Политика конфиденциальности',
            href: '/'
        },
        {
            txt: 'Наша служба поддержки',
            href: '/'
        }
    ],
    copy: {
        symbol: '©',
        txt: 'GloCourse',
        year: '<span id="copy_year"></span>'
    },
    social: [
        {
            title: 'Facebook',
            icon: '<span class="icon-facebook"></span>',
            link: '/'
        },
        {
            title: 'Twitter',
            icon: '<span class="icon-twitter"></span>',
            link: '/'
        },
        {
            title: 'VK',
            icon: '<span class="icon-vk"></span>',
            link: '/'
        },
        {
            title: 'linkedin',
            icon: '<span class="icon-linkedin"></span>',
            link: '/'
        },
        {
            title: 'Instagram',
            icon: '<span class="icon-instagram"></span>',
            link: '/'
        },
        {
            title: 'Telegram',
            icon: '<span class="icon-telegram"></span>',
            link: '/'
        },
        {
            title: 'Whatsapp',
            icon: '<span class="icon-whatsapp"></span>',
            link: '/'
        },
        {
            title: 'YouTube',
            icon: '<span class="icon-youtube-play"></span>',
            link: '/'
        }
    ]
} %}

{% set s1 = {
    bg: {
        src: "/assets/img/bg_first.jpg",
        webp: "/assets/img/bg_first.webp"
    },
    content: [{
        title: h1,
        p: [
            "Вы обладаете уникальными навыками и ценными знаниями?
            Делитесь ими с другими! Создать собственный кабинет
            для обучения очень просто! Упакуйте ваши знания и
            заработайте на этом."
        ]
    }],
    btn: {
       txt: "Создать онлайн <br> школу прямо сейчас",
       icon: '<span class="icon-graduation-cap"></span>',
       class_mod: ''
    },
    picture: {
        src: "/assets/img/screen_first_only",
        alt: h1,
        ext: ["webp", "png"]
    }
}%}

{% set s2 = {
    content: [{
        title: "Предоставьте своим ученикам доступ к обучению профессионального уровня!",
        p: [
            "Glokurs выполнит всю сложную работу за вас, чтобы вы могли
            сосредоточиться на действительно важных вещах: создавайте обучение
            с удобным интерфейсом.",

            "Простая регистрация студентов, возможность просмотра учебных
            программ и превью, а также удобная форма оплаты ваших курсов - всё
            это получат ваши ученики!"
        ]
    }],
    video: {
        src: "https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0",
        txt: "Что вам даст Glokurs? Видеопрезентация."
    }
} %}

{% set s3 = {
    content: [
        {
            title: "Простая настройка",
            p: [
                "Всего несколько кликов мышью - и вы получите готовую школу с возможностью
                управлять обучением, настройкой оплаты и инструментами для
                эффективных продаж."
            ]
        },
        {
            title: "Новые возможности обучения",
            p: [
                "Поднимите ваши курсы на качественно новый уровень, оформив их с помощью
                нашей платформы. Вы получите первоклассный опыт обучения вместе с Glokurs!"
            ]
        }
    ],
    picture: {
        src: "/assets/img/mac_study",
        alt: "Новые возможности обучения",
        ext: ["webp", "png"]
    },
    picture_bg: {
        src: "/assets/img/mac_sq_bg",
        ext: ["webp", "png"]
    }
} %}
{#  src: "/assets/img/mac_and_hat", #}


{% set s4 = {
    bg: {
        src: "/assets/img/bg_3.jpg",
        webp: "/assets/img/bg_3.webp"
    },
    content: [
        {
            title: "Поделитесь своими знаниями в 5 простых шагов! ",
            p: []
        }
    ],
    steps: [
        {
            title: "Шаг 1",
            content: "Создайте бесплатно <br>вашу онлайн-школу",
            btn: {
                txt: "Создать онлайн школу",
                icon: '<span class="icon-graduation-cap"></span>',
                class_mod: 'kw-steps__btn'
            }
        },
        {
            title: "Шаг 2",
            content: "Загрузите <br>обучающий контент",
            icon: '<span class="icon-download"></span>'
        },
        {
            title: "Шаг 3",
            content: "Настройте стильный дизайн у вашей онлайн-школы",
            icon: '<span class="icon-paint-brush"></span>'
        },
        {
            title: "Шаг 4",
            content: "Пригласите ваших <br>учеников",
            icon: '<span class="icon-user-plus"></span>'
        },
        {
            title: "Шаг 5",
            content: "Обучайте <br>и зарабатывайте на этом",
            icon: '<span class="icon-database"></span>'
        }
    ]
} %}

{% set s5 = {
    content: [
        {
            title: "Glokurs выбирают лучшие онлайн-школы!",
            p: [
                "Поднимите ваше обучение на новый уровень, упаковав его в красивой,
                профессиональной и полностью настроенной под вас обучающей платформе."
            ]
        }
    ],
    picture: {
        src: "/assets/img/MacBook_2015_2_-_20°_-_Level_2",
        alt: "Glokurs выбирают лучшие онлайн-школы!",
        ext: ["webp", "png"]
    }
} %}


{% set s6 = {
    content: [
        {
            title: "Удобный конструктор курсов и уроков",
            p: [
                "Создать собственную обучающую платформу очень просто.
                В вашем распоряжении интуитивно понятный интерфейс.
                Настройте посадочную страницу и кабинет вашей онлайн-школы под
                ваши нужды и нужды ваших учеников!"
            ]
        },
        {
            title: "Оптимизирован для мобильных устройств",
            p: [
                "Ваш сайт будет великолепно смотреться на любом гаджете!"
            ]
        }
    ],
    btn: {
       txt: "больше возможностей",
       class_mod: 'kw-btn_blue-skin kw-btn_upper kw-btn_bold kw-btn_stretch kw-btn_small-txt s6__kw-btn'
    },
    picture: {
        src: "/assets/img/iphonex",
        alt: "Оптимизирован для мобильных устройств",
        ext: ["webp", "png"]
    },
    picture_bg: {
        src: "/assets/img/mac_sq_bg",
        ext: ["webp", "png"]
    }
} %}
{# src: "/assets/img/phone_gears", #}

{% set s7 = {
    title: "Чего вы ждёте?",
    btn: {
       txt: "Начать работу бесплатно",
       class_mod: 'kw-btn_stretch'
    },
    content: [
        {
            p: [
                "Присоединяйтесь к известным инфобизнесменам,
                тренерам и онлайн-учителям, которые уже успешно работают с нами!"
            ]
        }
    ]
} %}

{% set s8 = {
    content: [
        {
            title: "Ваши успехи мотивируют нас на новые успехи!",
            p: [
                "Наша команда профессионалов с более чем 10 ти летним опытом,
                стремится сделать вашу работу с нами максимально удобной и эффективной.
                Мы неустанно работаем над улучшением нашего сервиса и прислушиваемся ко
                всем вашим нуждам и просьбам. Мы хотим помочь вам в достижении ваших целей!"
            ]
        }
    ],
    picture: {
        src: "/assets/img/medal",
        alt: "Ваши успехи мотивируют нас на новые успехи!",
        ext: ["webp", "png"]
    }
} %}

{% set s9 = {
    title: "Функционал",
    slider: [
        {
            title: 'Удобный и понятный кабинет преподавателя',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Создание множества школ на одном аккаунте',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Настройка школы',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Настройка курса',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Оплата курса и установка тарифов',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Прием оплаты и интеграция с агрегаторами',
            active: true,
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Управление студентами и группами',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Легкий редактор страниц',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Настройки вашего аккаунта',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        },
        {
            title: 'Настройка лендинга курса',
            img: {
            src: '/assets/img/screenshot_functions',
            ext: ["webp", "png"]
            }
        }

    ]
} %}

{% set s10 = {
    bg: {
        src: "/assets/img/bg_pricelist.jpg",
        webp: "/assets/img/bg_pricelist.webp"
    },
    title: "Тарифы и цены",
    prices: [
        {
            title: 'Тариф 1',
            price: '5900',
            currency: '₽',
            btn: {
                txt: 'Купить Пакет 1',
                class_mod: ''
            },
            prop: [
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета"
            ]
        },
        {
            title: 'Тариф 2',
            price: '6900',
            currency: '₽',
            btn: {
                txt: 'Купить Пакет 2',
                class_mod: ''
            },
            prop: [
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета"
            ]
        },
        {
            title: 'Тариф 3',
            price: '7900',
            currency: '₽',
            btn: {
                txt: 'Купить Пакет 3',
                class_mod: ''
            },
            prop: [
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета",
                "Компонент пакета"
            ]
        }
    ]
} %}

{% set s11 = {
    title: "Наша команда",
    team: [
        {
            name: "Валерий Стручин",
            post: "Основатель",
            picture: {
            src: "/assets/img/photo",
            ext: ["webp", "jpg"]
            }
        },
        {
            name: "Валерий Стручин",
            post: "Основатель",
            picture: {
            src: "/assets/img/photo",
            ext: ["webp", "jpg"]
            }
        },
        {
            name: "Валерий Стручин",
            post: "Основатель",
            picture: {
            src: "/assets/img/photo",
            ext: ["webp", "jpg"]
            }
        },
        {
            name: "Валерий Стручин",
            post: "Основатель",
            picture: {
            src: "/assets/img/photo",
            ext: ["webp", "jpg"]
            }
        }
    ]
} %}
