.s2 {
    padding-top: 100px;
    padding-bottom: calc(144px / 2);
    @include media-breakpoint-down(md) {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 85px;
    }
}
