<section class="kw-section s2" id="kw-s2" name="kw-s2">
    {% import "src/data/data.html" as data %}
    {% import "src/chunks/video/video.html" as video %}
    {% import "src/chunks/content/content.html" as content %}

    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 d-flex align-items-center">
                {{ video.kw_video(data.s2.video) }}
            </div>
            <div class="col-12 col-lg-6 col-xl-6 offset-xl-1">
                {{ content.kw_content(data.s2.content) }}
            </div>
        </div>
    </div>
</section>
